.game-detail-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(41, 47, 59, 0.8);
  color: #fff;
  flex: 1;
  height: 100%;
  margin-left: 383px;
  overflow-y: auto;
  border-radius: 1px;

  .game-detail-container {
    position: relative;
    width: 100%;
    height: auto;
  }

  .game-detail-photo-container {
    position: relative;
  }

  .game-detail-photo1 {
    width: 100%;
    height: 470px;
    object-fit: cover;
  }

  .game-detail-photo2 {
    width: 94%;
    height: 310px;
    object-fit: cover;
    filter: blur(30px);
    transform: scale(1.1);
    transition: opacity 0.3s ease;
    z-index: -1;
  }

  .game-detail-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 410px;
    background: rgba(41, 47, 59, 0.8);
    background: linear-gradient(to top, #24282f, #24282f 0%, transparent);
    filter: blur(9px);
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .upload-button {
    position: absolute;
    top: 495px;
    left: 30px;
    padding: 22px 72px;
    background-color: #2461d0;
    color: #e7effa;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &:hover {
      background: linear-gradient(to right, #47beff, #2461d0 100%, transparent);
    }
  }
  .loading-button {
    background-color: #007bff; // Mavi arka plan
    color: white;
    cursor: not-allowed;

    .action-icon {
      animation: spin 1s linear infinite;
    }
  }
  .play-button {
    position: absolute;
    top: 495px;
    left: 30px;
    padding: 22px 72px;
    background-color: #32bc40;
    color: #f5fcf5;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    &:hover {
      background: linear-gradient(to right, #50c82f, #18b14e 100%, transparent);
    }
  }
  .action-icon {
    font-size: 18px;
  }

  .action-button {
    position: absolute;
    top: 495px;
    left: 30px;
    padding: 22px 72px;
    color: #e7effa;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .action-button:hover {
    opacity: 0.9;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .info-section {
    position: absolute;
    top: 480px;
    left: 395px;
    color: #d6e9f8;
    z-index: 2;
    display: flex;
    gap: 170px;

    .info-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      .info-title {
        font-size: 20px;
        margin-bottom: -15px;
        color: rgba(254, 254, 254, 0.7);
      }

      .info-size,
      .info-last-played,
      .info-playtime {
        font-size: 18px;
        color: rgba(192, 192, 192, 0.5);
        text-align: left;
      }

      .info-content {
        display: flex;
        align-items: center;
        gap: 20px;

        .info-icon {
          font-size: 40px;
          color: rgba(192, 192, 192, 0.5);
        }

        .info-text {
          text-align: left;

          .info-title {
            font-size: 20px;
            color: rgba(254, 254, 254, 0.7);
            margin-bottom: -15px;
          }

          .info-playtime,
          .info-achievements {
            font-size: 18px;
            color: rgba(192, 192, 192, 0.5);
          }
        }
      }
    }
  }

  .bottom-bar {
    position: absolute;
    top: calc(480px + 100px);
    left: 20px;
    display: flex;
    gap: 169px;
    background-color: rgba(51, 52, 58, 0.6);
    padding: 10px 30px;
    width: calc(100% - 100px);
    z-index: 2;

    .bottom-bar-button {
      background-color: rgba(51, 52, 58, 0);
      color: rgba(192, 192, 192, 0.5);
      border: none;
      padding: 7px 20px;
      cursor: pointer;
      font-size: 16px;
      border-radius: 4px;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: #494f52;
        color: #ffff;
      }
    }
  }

  .progress-bar-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54%;
    margin-top: -32px;
    padding: 0 20px;
    margin-left: 100px;

    .progress-bar-container {
      width: 100%;
      height: 4px;
      background-color: #333;
      border-radius: 4px;
      overflow: hidden;

      .progress-bar {
        height: 100%;
        background-color: #007bff;
        transition: width 0.3s ease;
      }
    }
  }
}
