.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.content-container {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: #171d25;
  position: relative;
}

.slidebar {
  width: 380px;
  background-color: #24282f;
  border-right: 4px solid #171d25;
}

.main-content {
  flex: 1;
  background-color: #24282f;
  padding: 20px;
  overflow-y: auto;
}
